@using Domain.Entities
@model IEnumerable<Book> 
@{
    Layout = "~/Views/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>    
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/myStyle.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <ol class="breadcrumb"><li class="active"><a href="Index"></a>Главная</li></ol>
    <div><h1 class="head">Библиотека</h1></div>
    <ul class="nav nav-stacked" role="tablist">
        <li class="txtmain">@Html.ActionLink("Авторы", "ShowAutors")</li>
        <li class="txtmain">@Html.ActionLink("Пользователи", "ShowUsers")</li>
        <li class="txtmain">@Html.ActionLink("Книги", "ShowBooks")</li>
    </ul>

    <script src="Scripts/jquery-3.1.1.js"></script>
    <script src="Scripts/bootstrap.js"></script>    
</body>
</html>
